.App {
  text-align: center;
}


@font-face {
  font-family: 'Blue_Spirits';
  src: local('Blue_Spirits'), url(./fonts/Blue_Spirits.otf) format('truetype');
}


.ui.cards {
  display: flex;
}

.title {
  font-family: 'Blue_Spirits';
  font-size: 100px;
}

.menu {
  font-size: 35px !important;
  font-weight: bolder !important;
  color: white !important;
  -webkit-text-stroke-width: 1px !important;
    -webkit-text-stroke-color: black !important;
}

.form {
  padding: 100px;
}



label{
  font-size: 2.5rem !important;
  padding: 20px !important;
  font-weight: bolder !important;
  color: white !important;
  -webkit-text-stroke-width: 1px !important;
    -webkit-text-stroke-color: black !important;
}

.ui.search{
  padding: 20px;
}

#header{
  font-family: 'Blue_Spirits';
  font-size: 2rem;
}