.App {
  text-align: center;
}


@font-face {
  font-family: 'Blue_Spirits';
  src: local('Blue_Spirits'), url(./fonts/Blue_Spirits.otf) format('truetype');
}


.ui.cards {
  display: flex;
}

.title {
  font-family: 'Blue_Spirits';
  font-size: 100px;
}

.menu {
  font-size: 35px !important;
  font-weight: bolder !important;
  color: white !important;
  -webkit-text-stroke-width: 1px !important;
    -webkit-text-stroke-color: black !important;
}

.form {
  padding: 100px;
}



label{
  font-size: 2.5rem !important;
  padding: 20px !important;
  font-weight: bolder !important;
  color: white !important;
  -webkit-text-stroke-width: 1px !important;
    -webkit-text-stroke-color: black !important;
}

.ui.search{
  padding: 20px;
}

#header{
  font-family: 'Blue_Spirits';
  font-size: 2rem;
}

.chart-container {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
  stroke-linejoin: round;
  justify-content: center;
  stroke-width: 3;
  padding-left: 5%;
  font-size: 35px;
}

h2{
  justify-content: center;
  font-size: 5rem !important;
  font-family: 'Blue_Spirits' !important;
  color: white !important;
  -webkit-text-stroke-width: 1px !important;
    -webkit-text-stroke-color: black !important;
}
tspan{
  color: white !important;
  -webkit-text-stroke-width: 1px !important;
    -webkit-text-stroke-color: black !important;
}

.avatar {
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}