

* {
  text-align: center;
  font-family: 'Blue_Spirits';
}

@font-face {
  font-family: 'Blue_Spirits';
  src: local('Blue_Spirits'), url(./fonts/Blue_Spirits.otf) format('truetype');
}



.back {
  background-image: url('./images/robot-vote.png') ; 
  background-repeat: no-repeat;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-attachment: fixed;
}


label{
  font-size: 2rem;
}